html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;

    background-color: #ffffff;
    color: #757575;

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;

    
}

.no-scroll {
    overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}