.client {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 30px;
}

.client__link {
        display: inline-flex;
        width: 170px;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        justify-content: center;

        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);      

        &:hover,
        &:focus {
            border: 1px solid var(--accent-color);
        }
}

.client__icon {
        width: 160px;
        height: 60px;
        align-self: center;
        fill: #AFB1B8;

        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    
        .client__link:hover &,
        .client__link:focus & {
            fill: $accent-color;
        }
} 

    


