.header {
    position: relative;
    
    .container {
        display: flex;

        @media screen and (max-width:767px){
            
            justify-content: space-between;
        }
        
    }
    
}
// .header__container {
//     display: flex;
//     justify-content: space-between;;

//     @media screen and (max-width: 767px) {
//         display: none;
//     }
// }

.header__logo {
    align-self: center;
    color: $black;
}

.header-nav {
    display: flex;

    @media screen and (max-width: 767px) {
        display: none;
    }


    @media screen and (min-width: 768px) {
        margin-left: 87px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 92px;
    }

}

.header-nav__list {
    display: flex;
}

.header-nav__item {
    position: relative;
}

.header-nav__item:not(:last-child) {
    margin-right: 40px;
}

.header-nav__link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $title-text-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        color: $accent-color;
    }
} 

.header-nav__link--current {
    color: $accent-color;
}
    
.header-nav__link--current::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;


    background: $accent-color;
    border-radius: 2px;
}

.header-contact {
    margin-left: auto;
    
    @media screen and (max-width: 767px) {
        display: none;
    }
    
    @media screen and (min-width: 768px){
        display: flex;
        flex-direction: column;
        align-self: center;
        
    }

    @media screen and (min-width: 1200px) {
        display: flex;  
        flex-direction: row; 
        padding-top: 32px;
        padding-bottom: 32px;
        align-items: center;
    }
    
    
}

.header-contact__item {
    @media screen and (min-width: 1200px) {
        &:not(:last-child) {
            
            margin-right: 40px;
        }
    }
}



.header-contact__phone, 
.header-contact__email {
    display: inline-flex;
    align-items: center;
 
    
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $primary-text-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, 
    &:focus {
        color: $accent-color;
    }

    &:hover .header-contact__icon-envelope,
    &:focus .header-contact__icon-envelope,
    &:hover .header-contact__icon-smartphone,
    &:focus .header-contact__icon-smartphone {
        fill: $accent-color;
    }
}

.header-contact__icon-envelope, 
.header-contact__icon-smartphone {
    fill: $primary-text-color;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact__email-address,
.header-contact__phone-number {
    margin-left: 10px;
}

.menu-button__open {
    background-color: transparent;
    border: none;
    padding: 0;
    @media screen and (max-width:767px) {
        display: block;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-container {
    position: fixed;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: #ffffff;
    padding: 48px 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
        display: none;
    }

    overflow: auto;
}

.menu-container.is-hidden {
    display: none;
}

.menu-button__close {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    display: block;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 15px;
    padding: 0;
}

.mobile-nav__list {
    display: flex;
    flex-direction: column;
}

.mobile-nav__item:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-nav__link {
    @include typografy (500, 40px, 1.18, 0.02em);
    font-family: inherit;
    color: $title-text-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.mobile-nav__link--current {
    color: $accent-color;
}


.mobile-contact__item:not(:last-child) {
    margin-bottom: 32px;
}

.mobile-contact__phone,
.mobile-contact__email {
    

    @include typografy (500, 24px, 1.17,0.02em);
    font-family: inherit;
    color: $primary-text-color;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;
    }

}

.mobile-social {
    display: flex;
    margin-top: 64px;

}

.mobile-social__link {
    @include typografy (500, 18px, 1.22, 0.02em);
    color: $accent-color;
}

.mobile-social__item:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}
