.team {
    background-color: $background-color;
}


.team__list {
    padding: 0;
    margin: 0;


    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
        
        }
    
}

.team__item {

    @media screen and (min-width: 768px) {
       flex-basis: calc(50% - 30px);
        margin: 15px;
        
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc(25% - 30px);
        margin: 15px;
    }

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
    }
    
}

.card {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    overflow: hidden;
}

.card__content {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: $white;
}

.person {
    font-size: 16px;
    line-height: 1.19;
}

.person__name {
    margin-bottom: 10px;
    font-weight: 500;
    color: $title-text-color;
}

.person__position {
    color: $primary-text-color;
}


.person__social {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-networks {
    margin-top: 16px;
}

.social-networks__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $accent-color;
    }
}

.social-networks__icon {
    width: 20px;
    height: 20px;
    fill: #AFB1B8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .social-networks__link:hover &,
    .social-networks__link:focus & {
        fill: $white;
    }
}