.work {
    @media screen and (max-width:1199px) {
        display: none;
    }
}

.we-do {
    display: flex;
}

.we-do__item {
    position: relative;
    width: 370px;    
}

.we-do__item:not(:last-child) {
    margin-right: 30px; 
}

.we-do__label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    color: $white;

    padding-top: 27px;
    padding-bottom: 27px;

    @include typografy (700, 14px, 1.14, 0.03em);
    text-align: center;
    text-transform: uppercase;    
}




